@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-screen {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.player-board {
  height: 75%;
  width: 30%;
  background-color: aliceblue;
  opacity: 0.55;
  text-align: center;
  transition: all 0.75s;
  position: relative;
}
.current-playing {
  opacity: 0.73;
}
.is-winner {
  background-color: rgb(39, 39, 39);
  opacity: 0.9;
  color: whitesmoke;
}
.player-name {
  font-size: 2rem;
  margin-top: 15%;
}
.score {
  margin-top: 5%;
  font-size: 3rem;
  font-weight: bold;
}
.current-roll {
  color: white;
  font-weight: bold;
  width: 50%;
  height: 20%;
  margin-top: 25%;
  border-radius: 8px;
  background-image: linear-gradient(to top left, #d1254a 0%, #bf2e34 100%);
  margin-left: 25%;
  padding: 2%;
}
.roll {
  font-size: 1.7rem;
  margin-top: 2%;
}
.right-player {
  border-radius: 0% 2% 2% 0%;
}
.left-player {
  border-radius: 2% 0% 0% 2%;
}

.buttons {
  width: 20%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
}
.btn:hover {
  background-color: white;
}
button {
  margin: 0.5rem;
  border: none;
  border-radius: 50px;
  margin-left: 25%;
  cursor: pointer;
}
.bottom-btns {
  display: flex;
  flex-direction: column;
}
.new-game,
.hold,
.roll-dice {
  opacity: 0.75;
  height: 2.5rem;
  width: 50%;
}
.hold {
  width: 30%;
  margin-left: 35%;
}
.dice {
  margin-left: 30%;
  margin-bottom: 40%;
  width: 40%;
  transition: none;
}
.dice img {
  width: 100%;
}
@media screen and (max-height: 700px) {
  .dice {
    margin-bottom: 0%;
  }
  .hold {
    margin-left: 36%;
  }
}
